[submodule "Actividad5/repoProyecto"]
	path = Actividad5/repoProyecto
	url = https://github.com/aclj20/repoProyectoSubmod.git
[submodule "Actividad5/repoPrueba"]
	path = Actividad5/repoPrueba
	url = https://github.com/aclj20/repoPruebaSubmod.git
[submodule "Actividad17-18/DS_Actividad_17_18"]
	path = Actividad17-18/DS_Actividad_17_18
	url = https://github.com/aclj20/DS_Actividad_17_18.git
